<div data-controller="settings" class="container-page settings">
	<div class="container-page-container">
		<div class="heading">
			General Settings
		</div>
		<div class="content" >
			<div class="row" style='height:100%;'>
			  <div class="col-sm-2" style='border-right:1px solid #ccc;'>
				
				<ul class='settings-choices'>
					<li><a id='settings-company' data-params='{"path":"settings-company"}'  data-event='settings.click.navigate' href='javascript:void(0);' ><i class='icon-group'></i> Company Settings</a></li>
					<li><a id='settings-user' data-params='{"path":"settings-user"}'  data-event='settings.click.navigate' href='javascript:void(0)'><i class='icon-folder-open-alt'></i> User Settings</a></li>
					<li><a id='settings-maintenance' data-params='{"path":"settings-maintenance"}'  data-event='settings.click.navigate' href='javascript:void(0)'><i class='icon-folder-open-alt'></i> System Maintenance</a></li>
					
				</ul>
				
			  </div>
			  <div class="col-sm-10" id='settings-container' style='height:100%;'>
					
			  </div>
			</div>
		</div>
	</div>
</div>