<div id="itemmasterdatamodal"  class="modal fade modals-lg" data-backdrop="static"  data-keyboard="false" tabindex='-1'   data-controller='itemmasterdatamodal'>
	<div class="modal-dialog">
		<div class="modal-content" style='overflow:hidden;'>
	      <!-- Modal Header -->
		  <div class="modal-header basic">
			<h4 class="modal-title">Item Profile</h4>
			<button type="button" class="close" data-event="itemmasterdatamodal.click.closeProfileModal">&times;</button>
		  </div>
		  <!-- Modal body -->
		  <div class="modal-body row">
			<div class="col-md-12 modal-forms" id="form-special-subject-modal">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a data-params='{"navigate":"itemprofiletab"}' data-event="itemmasterdatamodal.click.navigate" class="nav-link active" data-toggle="tab" href="#itemprofiletab">Item Profile</a>
					</li>
					
					
					<!--<li class="nav-item " id='stockcardtab'>
						<a data-params='{"navigate":"itemstockcardtab"}' data-event="itemmasterdatamodal.click.navigate" class="nav-link"  data-toggle="tab" href="#itemstockcardtab">Stock Card</a>
					</li>-->
					
					<!--<li class="nav-item ">
						<a data-params='{"navigate":"itempricelisttab"}' data-event="itemmasterdatamodal.click.navigate" class="nav-link" id='specsubtab' data-toggle="tab" href="#itempricelisttab"> Price List</a>
					</li>-->
					
					
					<!--<li class="nav-item " id='salestab'>
						<a data-params='{"navigate":"itemsalestab"}' data-event="itemmasterdatamodal.click.navigate" class="nav-link"  data-toggle="tab" href="#itemsalestab"> Item Sales</a>
					</li>-->
				</ul>
				<div class="tab-content" style="height:100%;">
					<div id='itemprofiletab'  class="tab-pane content active" style="padding:1% 0% 1% 0%;height:100%;">
						
					</div>
					<!--<div  id='itemstockcardtab'  class="tab-pane content" style="padding:1% 0% 1% 0%;height:100%;">
						
					</div>
					<div  id='itempricelisttab'  class="tab-pane content" style="padding:1% 0% 1% 0%;height:100%;">
						
					</div>
					
					<div  id='itemsalestab'  class="tab-pane content" style="padding:1% 0% 1% 0%;height:100%;">
						
					</div>-->
				</div>
			</div>
		  </div>
		 
		</div>	
	</div>
</div>