<div id="transactionmodal"  class="modal fade modals-lg" data-backdrop="static"  data-keyboard="false" tabindex='-1'   data-controller='transactionmodal'>
	<div class="modal-dialog">
		<div class="modal-content" style='overflow:hidden;'>
	      <!-- Modal Header -->
		  <div class="modal-header basic">
			<h4 class="modal-title">Transaction</h4>
			<button type="button" class="close" data-event="transactionmodal.click.closeProfileModal">&times;</button>
		  </div>
		  <!-- Modal body -->
		  <div class="modal-body row">
			<div class="col-md-12 modal-forms" id="form-special-subject-modal">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a data-params='{"navigate":"transactionprofile"}' data-event="transactionmodal.click.navigate" class="nav-link active" data-toggle="tab" href="#transactionprofile">Transaction Profile</a>
					</li>
	
				</ul>
				<div class="tab-content" style="height:100%;">
					<div id='transactionprofile'  class="tab-pane content active" style="padding:1% 0% 1% 0%;height:100%;">
						
					</div>
				</div>
			</div>
		  </div>
		</div>	
	</div>
</div>